%html 
	%head 
		%meta{:charset => "utf-8"}
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
		%title Web Accessibility Reports
		%link{:href => "https://uom-design-system.s3.amazonaws.com/v0.4/uom.css", :rel => "stylesheet"}
		%script{:src => "https://uom-design-system.s3.amazonaws.com/v0.4/uom.js"}
		-# General
		%link{:rel => 'stylesheet', :href => '/stylesheets/generic.css'}
		-#Validation
		%script{ :type => "text/javascript", :src => "/javascripts/jquery-1.11.1.min.js"}
		-# Sorting
		%script{ :type => "text/javascript", :src => "/javascripts/jquery.metadata.js"}
		%script{ :type => "text/javascript", :src => "/javascripts/tableSorter.js"}
		-#Data tables
		%link{:href => "//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css", :rel => "stylesheet"}
		%script{:type => "text/javascript",:src => "//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"}
		-#Chartkick
		%script{:src => "https://www.google.com/jsapi"}
		%script{:src => "/javascripts/chartkick.js"}	
	%body 
		.uomcontent
			.page-inner
				.page-local-history
					%a.root{:href => "/", :title => "Web Accessibility Reports"} Web Accessibility Reports
				%div{:role => "main"}
					=yield 