!!!
%html
	%head
		%meta{ :content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
		%title Accessiblity Report
	%body
		%h1 Report Generated
		%p  Report for the provided URLs have been generated.